
* {
  box-sizing: border-box;
}
/* Week 1 HW Assignment (The "Easier One") */
/*Note: leaving "extra" formatting commands tried as a reminder of what 
didn't work...some were just done for visualization/checking purposes
such as borders around certain elements*/

/*Applying general formatting to the entire page under the body tag*/
body {
	 /*margin-top: 10; */
	/* padding: 0; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	 width: 960px; 
	background: #777;
	font-size: 18px;
	/* line-height: 150%; */
	font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
	color: #ebebeb;
	text-align: center;
	}
header {
	/*margin-top: 10px auto;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	text-align: center;
	color: #777;
	background: #ebebeb;
	/*font-size: 18px;*/
	margin-bottom: 10px;
	padding: 45px;
	/*changed padding from 25px*/
	height: 14%;
	/*added a height distinction*/
	
}
nav {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	text-align: center;
	color: #777;
	background: #ebebeb;
	padding: 45px;
	/*changed padding from 25px*/
	margin-bottom: 20px;
	height: 14%;
	/*added a height distinction*/

	/*font-size: 18px;*/
	/* align-content: center; */
}
#section {
	float: left;
	width: 495px;
	text-align: center;
	color: #777;
	background: #ebebeb;
	padding: 45px 0 0 0;
	/*changed top padding from 35px*/
	margin-bottom: 20px;
	margin-right: 15px;
	height: 250px;
	height: 40%;
	/*changed height from definite 250px to 40%*/
	/*overflow: auto;*/
}

#article {
	display: block;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 35px;
	/*changed margin-top from 45px*/
    /*width: 98%;*/
	background: #777;
	color: #ebebeb;
	text-align: center;
	padding: 15px;
	/*changed padding from 10px*/
	/*padding-top: 25px;*/

	/*position: relative;*/
	/*bottom: 5px;*/
}

#headings {
	background: #ebebeb;
	color: #777;
	padding: 25px;
	/*changed padding from 10px*/
	margin-top: 10px;
	font-weight: bold;
	height: 25%;
	/*added a height*/
}
#paragraph {
	color: #777;
	background: #ebebeb;
	margin-top: 10px;
	padding: 25px;
	/*changed padding from 10px*/
	height: 25%;
	/*added a height*/
}
aside {
	text-align: center;
	color: #777;
	background: #ebebeb;
	padding: 45px;
	/*changed padding from 35px*/
	width: 46%;
	float: right;
	height: 250px;
	/*changed height from definite 250px to 40%*/
	height: 40%;
	margin-bottom: 20px;

/*	border-color: blue;
	border-width: 40px;
*/
}
footer {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	text-align: center;
	color: #777;
	background: #ebebeb;
	
	margin-bottom: 5px;
	padding: 45px;
	/*changed padding from 25px*/
	height: 14%;
	/*added a height distinction of 14%*/

	}